<div>
	<h1>What would you like to discover</h1>
	<button  ng-click="steps.addActivities('Outdoors')" ng-class="{active:steps.tour.activities.indexOf('Outdoors') != -1}" class="Outdoors" ng-model="steps.tour.activities" >Outdoors</button>
	<!--<button  ng-click="steps.addActivities('Nightlife')" ng-class="{active:steps.tour.activities.indexOf('Nightlife') != -1}" class="Nightlife" ng-model="steps.tour.activities">Nightlife</button> -->
	<button  ng-click="steps.addActivities('Food')"  ng-class="{active:steps.tour.activities.indexOf('Food') != -1}" class="Food" ng-model="steps.tour.activities" >Food and Beverage</button>
	<button  ng-click="steps.addActivities('Monuments')" ng-class="{active:steps.tour.activities.indexOf('Monuments') != -1}" class="Monuments" ng-model="steps.tour.activities" >Monuments</button>
	<button  ng-click="steps.addActivities('Markets')" ng-class="{active:steps.tour.activities.indexOf('Markets') != -1}" class="Markets" ng-model="steps.tour.activities" >Markets</button>
	<button  ng-click="steps.addActivities('Art')" ng-class="{active:steps.tour.activities.indexOf('Art') != -1}" class="Art" ng-model="steps.tour.activities" >Art and Culture</button>
	<button  ng-click="steps.addActivities('Society')" ng-class="{active:steps.tour.activities.indexOf('Society') != -1}" class="Society" ng-model="steps.tour.activities" >Society and Contrast</button>

	<p ng-show="steps.tour.hours == 4" >you've picked  {{steps.tour.activities.length}} of 2 <strong ng-show="steps.tour.activities.length == 2" >Go next!</strong> </p><p ng-show="steps.tour.hours == 8" >you've picked  {{steps.tour.activities.length}} of 3 <strong ng-show="steps.tour.activities.length == 3" >Go next!</strong></p>
	<button ng-click="steps.currStep(3)">previous</button>
	<button ng-click="steps.currStep(5)">Next</button>

	
</div>