<div>
	<h1>Special Considerations:</h1>
	 
<!--

	<label for="" ng-repeat="(consideration ,enabled) in steps.considerations" >
		<input type="checkbox" ng-model="steps.considerations[consideration]" > {{consideration}}
	</label>
-->
	<input type="checkbox" ng-model="steps.tour.considerations.kids" id="Kids" ></input>
	<label for="Kids">Kids</label>
	<input type="checkbox" ng-model="steps.tour.considerations.pets" id="Pets" ></input>
	<label for="Pets">Pets</label>
	<input type="checkbox" ng-model="steps.tour.considerations.health" id="Health problems" ></input>
	<label for="Health problems">Health problems</label>
	<textarea name="health" id="health" cols="30" rows="3" placeholder="Describe your health problem ..." ng-model="steps.tour.considerations.healthData" ng-show="steps.tour.considerations.health" ></textarea>
	<input type="checkbox" ng-model="steps.tour.considerations.others" id="Other" ></input>
	<label for="Other">Other</label>
	<textarea name="Others" id="Others" cols="30" rows="3" ng-model="steps.tour.considerations.othersData" ng-show="steps.tour.considerations.others" ></textarea>
	<p class="pcons"></p>
	<button ng-click="steps.currStep(4)">previous</button>
	<button ng-click="steps.currStep(6)">Next</button>
</div>