<div>
	<h1>When are you coming to dive with us?</h1>
	<div>
	<input type="date" class="datepicker" readonly placeholder="click to display daypicker" ng-value="steps.tour.date" name="datepicker" />
	
	<p class="date"></p>
	</div>
 	<button ng-click="steps.currStep(2)">Next {{steps.dateHas}}</button>
</div> 