<div>
	<h1>Day or Night?</h1>
	<div>
		<input type="radio" value="day" ng-model="steps.tour.daytime" ></input>
		<label for="Day">Day</label>
	</div>	
	<br></br>
	<div >
		
		<input type="radio" value="night" ng-model="steps.tour.daytime" ></input>
		<label for="Night">Night</label>
	</div>
	<button ng-click="steps.currStep(3)">previous</button>
	<button ng-click="steps.currStep(5)">Next</button>
	{{steps.tour.daytime}}
</div>