<div>
	<h1 class="animated">Something we may have forgotten?</h1>
	
	<textarea  name="forgot" id="forgot" ng-model="steps.tour.forgot" placeholder="we might be missing..." cols="30" rows="4"></textarea>
	<button ng-click="steps.currStep(5)">previous</button>
	<button ng-click="steps.currStep(7)">Next</button>
</div>