<div >
	<h1>Would you like to spend the whole day with us?</h1>
	<div>
		<input ng-model="steps.tour.hours" type="radio"  value="4" id="4"></input>
		<label for="4">4 Hours</label>
	</div>	
	<br></br>
	<div>
		<input ng-model="steps.tour.hours" type="radio" value="8" id="8"></input>
		<label for="8">8 Hours</label>
	</div>
	<p class="hourerr"></p>
	<button ng-click="steps.currStep(1)">previous</button>
	<button ng-click="steps.currStep(3)">Next</button>

	
</div>