<div>
	<h1>Provide us your name and email please</h1>
	<input class="name" type="name" ng-model="steps.tour.name" placeholder="name..."  ></input>
	<input class="email" type="email" ng-model="steps.tour.email" placeholder="email..." ng-change="steps.validateEmail(steps.tour.email)" ></input>
	<p class="pname" ></p>
	<button ng-click="steps.currStep(6)">previous</button>
	<input type="submit" ng-click="steps.currStep(8)" value="Send Tour!" ></input>
</div>