<div>
	<h1>How many people are coming to the city?</h1>
	<p>Move the slider to choose how many people ...</p>
	<p>you've choosen: {{steps.tour.people}} </p>
	<div class="people">
		<label for="people">1</label>
		<input id="people" type="range"  min="1" max="8" value="2" ng-model="steps.tour.people" ></input>
		<label for="people">8</label>
	</div>
	<button ng-click="steps.currStep(2)">previous</button>
	<button ng-click="steps.currStep(4)">Next</button>
	
</div>